.navigation {
    background-color:  #002B7A !important;
}
.bio-text {
    font-size: 120%;
}
.btn {
    background-color:  #BB8800 ;
}
.waves-light {
    background-color: #BB8800 !important;
}
.footer-important {
    background-color: #002B7A;
}
.footer-copyright {
    background-color: #BB8800 !important;
}